@tailwind base;
@tailwind components;
@tailwind utilities;

/* add this color as seccondary color  */

:root {
  --color-secondary: #bfa78e;
}

.hero {
  background-image: url(../images/hero.jpg);

  /* cover the image */

  background-size: cover;

  /* add min height */

  min-height: 80vh;
}

.imagesForMaterials,
.imagesForHouseWork {
  padding: 20px; /* Optional padding for better spacing */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exterior {
  color: var(--color-secondary);
}

.menu li:hover {
  color: var(--color-secondary);
  transition: color 0.4s ease; /* Add transition effect */
}

.gg {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Add margin to the top */
}

.big-img {
  height: 80vh;
  width: 70%;
}

.welcome {
  letter-spacing: 1rem;
}
